<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCY9JgLpVX8m2mbyiZs9sHRtCK9cscV2QQ</string>
	<key>GCM_SENDER_ID</key>
	<string>904469175849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iamblue.Messenger-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>qwerty-9c9ac</string>
	<key>STORAGE_BUCKET</key>
	<string>qwerty-9c9ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904469175849:ios:10f10b1cc2a715db860638</string>
</dict>
</plist>